################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoApi/v15/Server/sqlite3
/TodoApi/bin/Debug/netcoreapp2.1
/TodoApi/obj
/.vs/config/applicationhost.config
